@font-face {
    font-family: 'Encode Sans SC', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap');
}

@font-face {
    font-family: 'Tourney', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: black;
    font-family: 'Encode Sans SC', sans-serif;
    color: gold;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.section-container {
    height: 140vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-section-one {
    background-image: url(../assets/bg6.png);
    background-attachment: 1px;
    background-blend-mode: color;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-section-two {
    background-color: rgb(52, 139, 253);
    background-attachment: 1px;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-section {
    background-color: black;
    align-items: center;
    text-align: center;
}

img {
    border-image-width: 10px;
    height: 200px;
}

.produtos {
    font-family: 'Encode Sans SC', sans-serif;
    color: white;
    font-size: 25px;
    background-position: center;
    padding: 50px;
    text-align: center;
    background-size: cover;
    /* block-size: 200px; */
    border-width: 10px;
    background-color: rgb(52, 139, 253);
}

footer {
    height: 100px;
    padding: 25px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
}

.card-container {
    background-size: 20px;
    text-align: center;
    color: black;
    background-color: gold;
    padding: 25px;
}

input {
    font-size: 20px;
    width: 25%;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 12px;
    align-items: center;
    background-color: white;
    color: black;
}

div {
    display: block;
}

.box-products {
    display: contents;
    border-color: white;
    block-size: 100px;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-family: 'Encode Sans SC', sans-serif;
    font-size: large;
}

.legenda {
    color: black;
    text-align: center;
    background-color: gold;
}

form {
    background-color: gold;
}